---
import Main from "../../layout/main.astro";
---

<Main title="Blog">
  <ul>
    <li>
      <a href="./post-1">Post 1</a>
    </li>
    <li>
      <a href="./post-2">Post 2</a>
    </li>
    <li>
      <a href="./post-3">Post 3</a>
    </li>
  </ul>
</Main>
