---
import PostCard from "../../components/postCard.astro";
import Main from "../../layout/main.astro";

import { formatBlogPosts } from "../../js/utils";

const allPosts = await Astro.glob("./*.md");
const formattedBlogPosts = formatBlogPosts(allPosts);
---

<Main title="Blog">
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        formattedBlogPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            TagType="h2"
          />
        ))
      }
    </div>
  </section>
</Main>
