---
import Main from "@/layout/main.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { formatBlogPosts, slugify } from "@/lib/utils";

import { Separator } from "@/components/ui/separator";
import { Badge } from "@/components/ui/badge";
import Heading from "@/components/common/heading.astro";

const allPosts = await getCollection("blog");
const formattedBlogPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);
const allCategories = formattedBlogPosts
	.map((ctgr) => ctgr.data.category.toLowerCase())
	.flat();

const processedCategories = allCategories.reduce((acc, category) => {
	const value = acc[category] || 0;

	return {
		...acc,
		[category]: value + 1,
	};
}, {});

const showCount = true;
---

<Main title="Blog Categories | Pruthivi Thejan ">
  <section class="container min-h-screen max-w-5xl pt-16" aria-label="Blog post categories">
  <Heading text="Blog Catergories"/>
    <div class="post-container pt-12">
      {
        Object.entries(processedCategories).map(([key, val]) => (
          <li class=" text-neutral-100 list-none mt-4" >
            <a href={`/blog/category/${slugify(key)}`} class="pb-4 flex items-center gap-2">
              <h2 class="uppercase text-2xl hover:underline">{key}</h2>
              {showCount && <Badge variant="secondary" class="font-bold">{val}</Badge>}
            </a>
            <Separator class="bg-neutral-700"/>
          </li>
        ))
      }
    </div>
  </section>
</Main>
