---
import Main from "@/layout/main.astro";
---

<Main title="Categories">
  <section class="container" aria-label="Blog post categories">
    <h1 class="h1 text-white">Categories</h1>
    <div class="post-container">
      {}
    </div>
  </section>
</Main>
