/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
  height: 100px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--secondary));
}

/* Glass Container */
.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[8px] -z-10 rounded-xl border border-neutral-100/20 bg-neutral-200/10 backdrop-blur-md;
  content: "";
}

/* .selection\:text-\[\#007763fd\] ::selection {
  color: #007763fd;
}

.selection\:bg-\[\#00cc9937\] ::selection {
  background-color: #00cc9937;
} */
