/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
  height: 100px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--secondary));
}

/* Glass Container */
.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[8px] -z-10 rounded-xl border border-neutral-100/20 bg-neutral-200/10 backdrop-blur-md;
  content: "";
}

/* Custom Headings */
.heading {
  @apply scroll-m-20 text-center font-heading bg-gradient-to-b from-neutral-50 to-neutral-500 bg-clip-text text-transparent text-5xl font-bold leading-tight  md:text-7xl lg:leading-[1.1];
}

.subheading {
  @apply max-w-xl mx-auto text-center text-lg text-muted-foreground md:leading-loose;
}


/* Custom Selection Color */
::-moz-selection {
  color: hsl(var(--secondary));
  background: hsl(165, 73%, 12%);
}

::selection {
  color:  hsl(var(--secondary));
  background: hsl(165, 73%, 12%);
}