@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Trap;
    font-weight: 300;
    src: url(/fonts/Trap-Light.woff2) format("woff2");
  }
  @font-face {
    font-family: Trap;
    font-weight: 400;
    src: url(/fonts/Trap-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: Trap;
    font-weight: 500;
    src: url(/fonts/Trap-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: Trap;
    font-weight: 600;
    src: url(/fonts/Trap-SemiBold.woff2) format("woff2");
  }
  @font-face {
    font-family: Trap;
    font-weight: 700;
    src: url(/fonts/Trap-Bold.woff2) format("woff2");
  }
  @font-face {
    font-family: Trap;
    font-weight: 800;
    src: url(/fonts/Trap-ExtraBold.woff2) format("woff2");
  }
  @font-face {
    font-family: Trap;
    font-weight: 900;
    src: url(/fonts/Trap-Black.woff2) format("woff2");
  }
  @font-face {
    font-family: Stretch Pro;
    src: url(/fonts/StretchPro.woff2) format("woff2");
  }
}
