---
import SparkButton from "@/components/animated/spark-button.astro";
import Main from "@/layout/main.astro";
import Books from "@/components/shelf/books-card.svelte";

---

<Main title="Work | Pruthivi Thejan ">
  <div class="h-full min-h-screen">
    <section
      class="mx-auto flex flex-col items-center gap-2 py-8 md:py-12 md:pb-8 lg:py-24 lg:pb-20"
    >
      <a href="https://www.goodreads.com/user/show/178774351" target="_blank" class="animate-enter" style="--stagger: 1" >
        <SparkButton text="Goodreads" icon="social/goodreads">
      </a>

      <h1 class="heading animate-enter">Books I've Read</h1>
      <p
        class="subheading animate-enter"
        style="--stagger: 1"
      >
      I'm excited to share my diverse reading journey, spanning from mind-bending sci-fi worlds to practical productivity insights, reflecting my passion for both imaginative storytelling and personal growth.
      </p>
    </section>
      <Books client:load />
  </div>
</Main>