---
import Main from "../layout/main.astro";
---

<Main title="Pruthivi Thejan">
  <div class="h-screen text-white font-heading mt-16">
     <h1 class="text-6xl">Pruthvi Thejan</h1>
     <h1 class="text-6xl font-body">Designer & Developer</h1>
     <div class="container py-10">
      <h2 class="text-4xl">21</h2>
      <h2 class="text-4xl">Sri Lankan </h2>
      <h2 class="text-4xl">Undergratuate at USJP</h2>
     </div>  
  </div>
</Main>
