---
//utility imports
import { getCollection, type CollectionEntry } from "astro:content";
import "@/styles/global.css";
import { formatBlogPosts } from "@/lib/utils";

//component imports
import Main from "@/layout/main.astro";
import Hero from "@/components/common/hero.astro";
import StackMarquee from "@/components/stack-marquee.svelte";
import PostCard from "@/components/blog/post-card.astro";

import * as Carousel from "@/components/ui/carousel/index.js";
import { Separator } from "@/components/ui/separator";
import Newsletter from "@/components/newsletter-card.svelte";

const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
	limit: 3,
});
---

<Main title="Pruthivi Thejan">
  <div class="min-h-screen text-white font-heading mt-16 text-center">
  <section>
    <div class="h-50 bg-dot-neutral-50/[0.2]">
    <!-- <div class="hidden md:flex absolute pointer-events-none inset-0 items-center justify-center bg-neutral-950 [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)]"/> -->
    <Hero />
  </section>
  <Newsletter client:visible />
  <!-- <section>
<h2 class="text-2xl">New Blog Posts</h2>
<div class="container">
  {
    formattedPosts.map((post) => (
      <span>{post.data.title}</span>
    ))
  }
</div>
  </section> -->
  </div>
</Main>
