---
import "@/styles/global.css"
import Main from "../layout/main.astro";

import Hero from "@/components/Hero.svelte";

---

<Main title="Pruthivi Thejan">
  <div class="h-screen text-white font-heading mt-16 text-center">
     <Hero client:load/>

  </div>
</Main>
