---
import "@/styles/global.css"
import Main from "../layout/main.astro";

import Hero from "@/components/Hero.svelte";

---

<Main title="Pruthivi Thejan">
  <div class="h-screen text-white font-heading mt-16 text-center">
    <div class="h-50 bg-dot-neutral-50/[0.2]">
    <div class="absolute pointer-events-none inset-0 flex items-center justify-center bg-neutral-900 [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)]"/>
    <Hero client:load/>
  </div>
  </div>
</Main>
