---
import Main from "../layout/main.astro";
---

<Main title="Influencers">
    <div class="flex items-center justify-center h-screen mx-auto max-w-lg">
        <div class="bg-neutral-700 p-8 rounded-3xl shadow-md">
          <h1 class="text-4xl capitalize text-center text-white font-bold mb-4">To the OGs, I’m thanking you now Was watching you when you was paving the ground i copied your cadence, i mirrored your style i studied the greats, i’m the</h1>
          <p class="text-white">This is a sample text.</p>
        </div>
      </div>
</Main>
