---
import Empty from "../layout/empty.astro";
import Newsletter from "@/components/Newsletter.svelte";
---

<Empty title="Newsletter">
  <div class="flex flex-col items-center justify-center h-screen text-white mx-auto max-w-lg" >
    <Newsletter client:load/>
  </div>
</Empty>
