---
import Main from "@/layout/main.astro";
---

<Main title="Stack | Pruthivi Thejan">
    <div class="container relative pb-10">
        <section
        class="mx-auto flex max-w-[980px] flex-col items-center gap-2 py-8 md:py-12 md:pb-8 lg:py-24 lg:pb-20"
      >
      <h1 class="heading animate-enter">Apps & Tools I use</h1>
      <p
      class="subheading animate-enter"
      style="--stagger: 1"
      >
        Explore a curated collection of high-quality templates crafted with precision and attention to detail, suitable for various UI/UX design needs and software development projects.
        </p>
        <section class="w-full py-12 md:py-24 lg:py-32">
          <div class="container grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:max-w-6xl">
            <div class="glass-container bg-neutral-950 rounded-lg p-4 shadow-sm transition-all hover:shadow-md">
              <div class="flex items-center gap-4">
                  <img src="/images/apps/app_notion.jpg" alt="" class="h-12 w-12 rounded-lg">
                <div>
                  <h3 class="text-lg font-medium text-neutral-100">
                    <a href="#" class="hover:underline">
                      Notion
                    </a>
                  </h3>
                  <p class="text-sm text-muted-foreground">Communicate and collaborate in real-time.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
</Main>