---
import Link from "@/components/Link.astro";
import { Separator } from "@/components/ui/separator"
import Newsletter from "./Newsletter";

const now = new Date();
const year = now.getFullYear(); 
---
<Separator className="bg-neutral-600" />
<footer class="bg-neutral-900 font-body pb-24">
    <div class="mx-auto text-center w-full max-w-screen-xl p-4 py-6 lg:py-8 mb-12">
      <Newsletter client:visible/>
    </div>
    <div class="flex justify-center gap-2">
      <Link target="_blank" href="https://github.com/pruthivithejan" classes="text-neutral-950 rounded-md bg-neutral-100 border border-neutral-500 p-3" icon={{
        name: "mdi:github",
        side: "right",
        height:"32", 
        width:"32"
      }} />
      <Link target="_blank" href="https://lk.linkedin.com/in/pruthivithejan" classes="text-neutral-950 rounded-md bg-neutral-100 border border-neutral-500 p-3" icon={{
        name: "mdi:linkedin",
        side: "right",
        height:"32", 
        width:"32"
      }} />
      <!-- <Link target="_blank" href="https://x.com/pruthivithejan" classes="text-neutral-950 rounded-md bg-neutral-100 border border-neutral-500 p-3" icon={{
        name: "akar-icons:x-fill",
        side: "right",
        height:"32", 
        width:"32"
      }} />
      <Link target="_blank" href="https://www.threads.net/@pruthivithejan" classes="text-neutral-950 rounded-md bg-neutral-100 border border-neutral-500 p-3" icon={{
        name: "bi:threads",
        side: "right",
        height:"32", 
        width:"32"
      }} /> -->
      <Link target="_blank" href="https://www.instagram.com/pruthivithejan/" classes="text-neutral-950 rounded-md bg-neutral-100 border border-neutral-500 p-3" icon={{
        name: "mdi:instagram",
        side: "right",
        height:"32", 
        width:"32"
      }} />
      <Link target="_blank" href="https://www.reddit.com/user/pruthivithejan/" classes="text-neutral-950 rounded-md bg-neutral-100 border border-neutral-500 p-3" icon={{
        name: "simple-icons:reddit",
        side: "right",
        height:"32", 
        width:"32"
      }} />

    </div>
  </footer>
  
  
