---
import Icon from "astro-icon";
import { Separator } from "@/components/ui/separator"

const now = new Date();
const year = now.getFullYear(); 

import Newsletter from "./Newsletter";
---
<Separator className="bg-neutral-600" />
<footer class="bg-neutral-900 font-body">
    <div class="mx-auto text-center w-full max-w-screen-xl p-4 py-6 lg:py-8 mb-12">
      <Newsletter client:visible/>
    </div>
  </footer>
  
  
