---
---

<footer>
  <small>
    Copyright &copy; <span id="copyright"> </span> Pruthivi Thejan | All rights reserved.
  </small>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
