---
import Icon from "astro-icon";

const now = new Date();
const year = now.getFullYear(); 
---

<footer class="bg-neutral-900 font-body">
    <div class="mx-auto text-center w-full max-w-screen-xl p-4 py-6 lg:py-8 mb-12">
      <div class="overflow-hidden py-16 sm:py-24 lg:py-32">
        <div class="max-w-2xl gap-x-8 gap-y-16 lg:max-w-none flex place-content-center mx-auto">
          <div class="max-w-xl lg:max-w-lg">
            <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Subscribe to my newsletter.</h2>
            <p class="mt-4 text-lg leading-8 text-gray-300">A Newsletter for Developers, Designers and Humans.</p>
            <div class="mt-6 flex max-w-md gap-x-4">
              <label for="email-address" class="sr-only">Email address</label>
              <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-neutral-500 sm:text-sm sm:leading-6" placeholder="Enter your email">
              <button type="submit" class="flex-none rounded-md bg-neutral-200 px-3.5 py-2.5 text-sm font-semibold text-neutral-900 shadow-sm hover:bg-neutral-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:neutral-indigo-500">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  

<script>

</script>
