---
//library imports
import { Icon } from "astro-icon";
//data imports
import navData from "../data/navData";
//components imports
import Link from "./link.astro";




---

<nav class="text-white font-trap">
  <div class="hidden lg:flex max-w-6xl mx-auto fixed backdrop-blur-sm z-50 top-0 left-0 right-0 h-20 shadow-sm items-center justify-between px-8">
    <a href="/" class="logomark" aria-label="Go home">
      <Icon name="logomark" width="40" />
    </a>
    <ul class="flex flex-row gap-11 text-xl">
      {
        navData.map((item) => (
          <Link
            text={item.name}
            href={item.path}
            style="secondary"
            isFilled={false}
            data-navLink
          />
        ))
      }
    </ul>
  </div>
</nav>

<script>
  import "../js/nav.js";
  const links = document.querySelectorAll('nav a');

  links.forEach((link: HTMLAnchorElement) => {
  if (link.href === window.location.href) {
    link.classList.add('font-bold', 'text-blue-500');
  }
});
</script>
