---
import SparkButton from "@/components/animated/SparkButton.svelte";
import Main from "@/layout/main.astro";
import Icon from "astro-icon";
---

<Main title="Work">
    <div class="h-screen font-body mt-16 text-center">
      <SparkButton text="All my learning projects are on my GitLab"/>
    </div>
</Main>