---
import SparkButton from "@/components/animated/spark-button.astro";
import Main from "@/layout/main.astro";
import Work from "@/components/works-card.svelte";
---

<Main title="Work | Pruthivi Thejan ">
  <div class="h-full min-h-screen">
    <section
      class="mx-auto flex flex-col items-center gap-2 py-8 md:py-12 lg:py-24"
    >
      <a href="https://gitlab.com/users/pruthivithejan/projects" target="_blank" class="animate-enter" style="--stagger: 1" >
        <SparkButton text="Learning Projects" icon="social/gitlab"/>
      </a>
      <h1 class="heading animate-enter">Recent Work</h1>
      <p
        class="subheading animate-enter"
        style="--stagger: 1"
      >
        I'm thrilled to showcase some of my recent projects that demonstrate my passion for crafting intuitive user experiences and robust, efficient software solutions.
      </p>
      <Work client:load />
    </section>
      
  </div>
</Main>
