---
import SparkButton from "@/components/animated/SparkButton.svelte";
import Main from "@/layout/main.astro";
import Work from "@/components/Work.svelte";

---

<Main title="Work">
  <div class="flex justify-center items-center mb-10">
    <div class="h-screen font-body mt-16 text-center">
      <a href="https://gitlab.com/users/pruthivithejan/projects" target="_blank">
      <SparkButton text="All my learning projects are on my GitLab"/>
    </a>
    <div>
    <Work client:load />
    </div>
  </div>
</Main>