---
import {getCollection, CollectionEntry } from "astro:content"
import { formatBlogPosts, slugify } from "@/lib/utils";
import { Badge } from "@/components/ui/badge"


const allPosts = await getCollection("blog");
const formattedBlogPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);
const allCategories = formattedBlogPosts
  .map((ctgr) => ctgr.data.category.toLowerCase())
  .flat();

const processedCategories = allCategories.reduce((acc, category) => {
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1,
  };
}, {});

const { showCount } = Astro.props;
---

<ul class="flex gap-2 ">
  {
    Object.entries(processedCategories).map(([key, val]) => (
      <li>
        <a href={`/blog/category/${slugify(key)}`} class="hover:underline">
          <Badge variant="secondary">
          {key}
          
          {showCount && <span>&nbsp;&#x2022;&nbsp;{val}</span>}
         </Badge>
        </a>
      </li>
    ))
  }
</ul>
