---
import Link from "@/components/common/link.astro";
// import { Separator } from "@/components/ui/separator"
import Newsletter from "@/components/Newsletter.svelte";
import { Button } from "@/components/ui/button/index";
import { Mail } from "lucide-svelte";
import { Icon } from 'astro-icon/components'

const links = [
  {
    href: "https://github.com/pruthivithejan",
    icon: { name: "social/github", side: "right", height: "24", width: "24" },
  },
  {
    href: "https://lk.linkedin.com/in/pruthivithejan",
    icon: { name: "social/linkedin", side: "right", height: "24", width: "24" },
  },
  {
    href: "https://x.com/pruthivithejan",
    icon: { name: "social/x", side: "right", height: "24", width: "24" },
  },
  // {
  //   href: "https://www.threads.net/@pruthivithejan",
  //   icon: { name: "social/threads", side: "right", height: "32", width: "32" },
  // },
  // {
  //   href: "https://www.instagram.com/pruthivithejan/",
  //   icon: { name: "social/instagram", side: "right", height: "32", width: "32" },
  // },
];

const currentYear = new Date().getFullYear();

 
---

<footer class="py-6 pb-16 overflow-hidden">
  <h2 class="sr-only">
    Footer
  </h2>
  <div class="w-full h-px bg-gradient-to-r from-transparent 
   via-neutral-500 to-transparent" />
  <div class="gap-4 pt-8 flex items-center justify-center"> 
  </div>
  <Newsletter client:visible/>
  <div class="flex flex-col justify-center items-center mx-auto gap-2 py-8">
    <div class="flex items-center gap-2">
      <Button
        href="mailto:pruthivi@pruthivithejan.me"
        class="dark "
      >
        <Mail class="mr-2 h-4 w-4" />
        Email
      </Button>
      <span class="text-sm text-muted-foreground select-none">or</span>
      <Button
        variant="outline"
        class="dark text-neutral-50"
        href="https://t.me/pruthivithejan"
      >
        <Icon name="social/telegram" height={16} width={16} class="mr-2" />
        Telegram
      </Button>
    </div>
    <span class="mt-4 text-sm text-muted-foreground select-none">© {currentYear} Pruthivi Thejan</span>
    <div class="flex justify-center gap-4">
      <>
      {links.map((link, index) => (
        <Link
          key={index}
          target="_blank"
          href={link.href}
          classes="text-muted-foreground hover:scale-105 ease-in-out duration-300"
          icon={link.icon}
        />
      ))}
      </>
    </div>
  </div>
</footer>
  
  
