---
import Link from "@/components/common/link.astro";
import { Separator } from "@/components/ui/separator"
import Newsletter from "@/components/Newsletter.svelte";

 
---

<footer class="bg-neutral-950 font-body pb-24">
   <Separator class="bg-neutral-600" />
    <div class="mx-auto text-center w-full max-w-screen-xl p-4 py-6 lg:py-8 mb-12">
      <Newsletter client:visible/>
    </div>
    <div class="flex justify-center gap-2">
      <Link target="_blank" href="https://github.com/pruthivithejan" classes="text-neutral-950 rounded-lg bg-neutral-100 border-4 border-neutral-500 p-3" icon={{
        name: "social/github",
        side: "right",
        height:"32", 
        width:"32"
      }} />
      <Link target="_blank" href="https://lk.linkedin.com/in/pruthivithejan" classes="text-neutral-950 rounded-lg bg-neutral-100 border-4 border-neutral-500 p-3" icon={{
        name: "social/linkedin",
        side: "right",
        height:"32", 
        width:"32"
      }} />
       <Link target="_blank" href="https://x.com/pruthivithejan" classes="text-neutral-950 rounded-lg bg-neutral-100 border-4 border-neutral-500 p-3" icon={{
        name: "social/x",
        side: "right",
        height:"32", 
        width:"32"
      }} />
      <Link target="_blank" href="https://www.threads.net/@pruthivithejan" classes="text-neutral-950 rounded-lg bg-neutral-100 border-4 border-neutral-500 p-3" icon={{
        name: "social/threads",
        side: "right",
        height:"32", 
        width:"32"
      }} /> 
      <Link target="_blank" href="https://www.instagram.com/pruthivithejan/" classes="text-neutral-950 rounded-lg bg-neutral-100 border-4 border-neutral-500 p-3" icon={{
        name: "social/instagram",
        side: "right",
        height:"32", 
        width:"32"
      }} />
    </div>
  </footer>
  
  
