---
import MovieList from "@/components/shelf/movie-list.svelte";
import Main from "@/layout/main.astro";
---

<Main title="Shelf | Pruthivi Thejan ">
    <div class="px-4 md:px-6 text-white font-body h-screen pt-24">
          <MovieList/>
    </div>
</Main>
