---
import SparkButton from "@/components/animated/spark-button.astro";
import Main from "@/layout/main.astro";
import Heading from "@/components/common/heading.astro";
---

<Main title="Products | Pruthivi Thejan ">
  <div class="container relative pb-10">
    <section
    class="mx-auto flex max-w-[980px] flex-col items-center gap-2 py-8 md:py-12 md:pb-8 lg:py-24 lg:pb-20"
  >
  <a href="https://gitlab.com/users/pruthivithejan/projects" target="_blank" class="animate-enter" style="--stagger: 1">
    <SparkButton text="Under Construction"/>
  </a>
    <Heading text="Recent Products"/>
    <p
      class="max-w-[750px] text-center text-lg text-muted-foreground sm:text-xl text-balance animate-enter"
      style="--stagger: 1"
    >
    Explore a curated collection of high-quality templates crafted with precision and attention to detail, suitable for various UI/UX design needs and software development projects.
    </p>
  </section class="my-3">
    <div class="h-screen font-body mt-16 text-center">
      
     
    </div>
  </div>
</Main>