---
import SparkButton from "@/components/animated/SparkButton.svelte";
import Main from "@/layout/main.astro";
import Icon from "astro-icon";
---

<Main title="Work">
  <div class="flex justify-center items-center mb-10">
    <div class="h-screen font-body mt-16 text-center">
      
      <SparkButton text="Under Construction"/>
    </div>
  </div>
</Main>